@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Londrina+Shadow&family=Megrim&family=Poiret+One&family=Rampart+One&display=swap");
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cafe24SsurroundAir", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: bisque;
  background: url("./img/mountain_daniel_leone.jpg") center center;
  background-size: cover;
}

h1 {
  color: white;
  font-family: "Megrim", "Cafe24SsurroundAir", cursive;
  text-align: center;
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 40rem;
  height: fit-content;
  max-height: 40rem;

  margin-top: 5rem;
  padding: 2rem;
  background-color: rgba(74, 158, 255, 0.123);
  border: 1px solid gainsboro;
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.089);
  color: white;
  font-size: 16px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.app .todo-container {
  overflow-y: auto;
}

.add-form {
  width: 100%;
}

.add-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid gainsboro;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
}

.add-form input:focus {
  outline: 0;
}

.add-form input::placeholder {
  color: rgba(204, 231, 255, 0.712);
}

ul.todo-list li {
  list-style: none;
  padding: 0.3rem;
  cursor: pointer;
}

ul.todo-list li.checked {
  color: bisque;
  text-decoration: line-through;
}

ul.todo-list button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.todo-counter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  padding: 1rem 0.3rem;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
}
*::-webkit-scrollbar-track {
  background-color: rgba(212, 212, 212, 0.5);
}
